NODE_ENV=development
PORT=3000

DEV_DATABASE_URL=postgres://postgres:password@localhost:5432/codemate-core-dev

SESSION_SECRET=backend#124
JWT_SECRET_KEY=

AWS_S3_REGION=ap-south-1

AWS_INPUT_BUCKET=codemate-core-assets-dev
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
CDN_WEB_STATIC=

SWAGGER_ADMIN_USER=codemate@codemate.com
SWAGGER_ADMIN_PASSWORD=codemate@codemate

SWAGGER_MOBILE_USER=codemate@codemate.com
SWAGGER_MOBILE_PASSWORD=codemate@codemate

FRONTEND_URL=http://localhost:4200
BACKEND_URL=http://localhost:$PORT

POSTAL_PINCODE_API=https://api.postalpincode.in/pincode